.banner-vector {
    position: absolute;
    z-index: 999;
}

.vector1 {
    top: -250px;
    right: -87px;
    width: 215px;
    height: 450px;
    transform: rotate(28deg);
}
/* Vector 2 Position: Top Right */
.vector2 {
    top: -250px;
    right: 29px;
    width: 215px;
    height: 450px;
    transform: rotate(28deg);
}
/* Vector 3: Starts from the logo skew area */
.start-from-logo {
    bottom: 0;
    left: 13.2%;
    width: 287px;
    height: 275;
    transform: rotate(180deg);
}






