.blog-title {
    text-align: left;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 245px;
    color: #333;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 30px; /* Space between items */
    max-width: 1400px; /* Adjust as needed */
    margin: auto;
}

.blog-item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.blog-item:hover {
    transform: translateY(-5px);
}

.blog-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px 10px 0 0;
}

.blog-text {
    padding: 15px;
    text-align: left;
}

.blog-text h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.blog-text p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.view-blog-details-btn {
    display: inline-block;
    background: #0056ff;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background 0.3s;
}

.view-blog-details-btn:hover {
    background: #003bb3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .blog-container {
        grid-template-columns: 1fr; /* Switch to 1 column for smaller screens */
    }
}

/* pagination */
.pagination {
    text-align: center;
    margin: 20px 0;
    position: sticky;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    background: #fdfdfd;
    color: #000000;
    text-decoration: none;
    border: #000000 1px solid;
}

.pagination a:hover {
    background: #b0b1b3;
}

.pagination .current {
    background: #333;
    color: #f6f6f6;
    font-weight: bold;
}

